<!-- Bootstrap core CSS -->
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 5.5rem;
        }
      }
    </style>
    
  <main class="px-3">
    <h1>Quotes of the day.</h1>
    <p class="lead">Don't you love the things you cannot have but once we have them it slowly means nothing anymore.</p>
    <p class="lead">
      <a href="<%= about_path %>" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
    </p>
  </main>

 
